.navbar-brand img{
    width: 40px;
}
.navbar{
  background-color: rgb(14, 4, 4);
}

.dropdown-menu{
    background-color: #212529;
}
.Nav-Enr{
    background: #fd7500;
    border-radius: 20px;
    color: #fff;
    transition: ease-in ;
}
.Nav-Enr:hover{
    border:1px solid #fd7500;
    color: #fd7500;
    background-color: transparent;
    
}
.Nav-login{
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    transition: ease-in;
}
.Nav-login:hover{
    background-color: #fd7500;
    color: #212529;
    border: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #fd7500;
  }
  .navbar-light .navbar-toggler {
    color: transparent;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("https://cdn-user-icons.flaticon.com/14186/14186559/1643892036437.svg?token=exp=1643892938~hmac=00f36f7a352ae4f2b62976b61b8838d4");
    color: #fff;
  }